# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives***

- List popular languages for data science
- List popular libraries used for data science
- Create table using python Jupiterlite
- Create ordered list and unordered list
- Do basic arithmentic calculations with python

Some of the popular languages that Data Scientists use are:

- R
- Python
- SQL

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. Numpy
3. Matplotlip

 | Data Science Tools |
 | -------------|
 | Anaconda | 
 | Jupiterlite |
 | Jupiter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/6

33.333333333333336

## Author 

Abdifatah Muse